In [1]:
import pandas
pandas.__version__
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pip install --user scikit-learn

Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.8/site-packages (0.24.1)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn) (0.16.0)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied: scipy>=0.19.1 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
cd /Users/dansari/Documents/GitHub/Identifying-features-to-predict-high-school-assessment-proficiency/Phase1/Data/MASTER

/Users/dansari/Documents/GitHub/Identifying-features-to-predict-high-school-assessment-proficiency/Phase1/Data/MASTER

In [6]:
reading = pandas.read_csv("master_reading.csv")
reading['NCESSCH'] = reading ['NCESSCH'].apply(lambda x: '{0:0>12}'.format(x))
reading.head()

,SCHOOL_YEAR_x,ST_x,NAME,NCESSCH,LEVEL,SCH_TYPE_TEXT_x,SCH_TYPE_x,TITLEI_STATUS,TITLEI_STATUS_TEXT,MAGNET_TEXT,...,Total_IB_students,SCH_APENR_IND_new,SCH_APCOURSES,SCH_APOTHENR_IND_new,Total_AP_other_students,Total_students_tookAP,Income_Poverty_ratio,IPR_SE,ALL_RLA00NUMVALID_1718,ALL_RLA00PCTPROF_1718_new
0,2017-2018,AL,Albertville High School,010000500871,High,Regular School,1,SWELIGSWPROG,Title I schoolwide school,No,...,-18.0,1.0,8.0,1.0,179.0,286.0,248.0,80.0,337.0,32.0
1,2017-2018,AL,Asbury High School,010000600872,High,Regular School,1,SWELIGSWPROG,Title I schoolwide school,No,...,-18.0,1.0,3.0,1.0,33.0,46.0,241.0,127.0,327.0,30.0
2,2017-2018,AL,Douglas High School,010000600878,High,Regular School,1,SWELIGSWPROG,Title I schoolwide school,No,...,-18.0,1.0,6.0,1.0,185.0,244.0,213.0,51.0,130.0,42.0
3,2017-2018,AL,Kate D Smith DAR High School,010000600883,High,Regular School,1,SWELIGSWPROG,Title I schoolwide school,No,...,-18.0,1.0,6.0,1.0,116.0,205.0,254.0,48.0,106.0,57.0
4,2017-2018,AL,Brindlee Mountain High School,010000601585,High,Regular School,1,SWELIGSWPROG,Title I schoolwide school,No,...,-18.0,1.0,5.0,1.0,76.0,102.0,329.0,150.0,338.0,31.0

In [ ]:
#corr = master_reading.corr()
#plt.figure(figsize=(20,10))
#sns.heatmap(corr, cmap="Greens",annot=True)

In [ ]:
#get correlations of each features in dataset
corrmat = master_reading_new.corr()
top_corr_features = corrmat.index
plt.figure(figsize=(30,10))
#plot heat map
g=sns.heatmap(master_reading_new[top_corr_features].corr(),annot=True,cmap="RdYlGn")

In [ ]:
X = master_reading_new.iloc[:,11:31]  #independent columns
y = master_reading_new.iloc[:,-1]    #target column i.e ALL_RLA00PCTPROF_1718_new

In [ ]:
#sns.pairplot(master_reading_new)
#plt.show()

In [ ]:
#Correlation with output variable
cor_target = abs(corrmat["ALL_RLA00PCTPROF_1718_new"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.25]
relevant_features

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
accuracy = regressor.score(X_test,y_test)
print(accuracy*100,'%')

In [ ]:
coeff_df = pandas.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
df = pandas.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))